body{
  font-family: 'Gafata', sans-serif;
  font-size: 20px;
  min-height: 650px;
}

.logo {
  vertical-align: bottom;
  font-size: 40px;
  color: rgb(8, 81, 11);
  padding-left: 10px;
  display: inline-block;
  margin-bottom: 4px;
}

.navbar {
  min-height: 120px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #fff;
}
.navbar-brand {
  height: 150px;
/*  border-bottom: 2px solid rgb(8, 81, 11);*/
}

.navbar-default {
  background-color: white;
  border: none;
  color: rgb(8, 81, 11);
}

.navbar-default .navbar-nav>li>a {
  color: rgb(8, 81, 11);
}

.nav>li>a {
  padding: 10px 14px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFE98C;
  background: rgb(8, 81, 11);
  background: rgba(8, 81, 11, 0.8);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}

.navbar-default {
  border: none;
}

h3 {
  font-size: 32px;
  border-bottom: 1px solid #333;
  max-width: 357px;
  padding: 6px;
  margin-bottom: 10px;
}

iframe {
  margin: 0 auto;
  width: 100%;
  height: 380px;
}

.youtube {
  height: 100%;
}

.row.youtube {
  margin-bottom: 0;
}

.row.app-store-button-container {
  margin: 0;
}

.col-md-4.app-store-button-container{
  padding-left: 0;
}


.app-store-button {
  width: 150px;
  border-radius: 7px;
}

.jumbo {
  color: #ffe;
  margin: 29px 0 0 20px;
  padding: 18px 0;
}

.container .jumbotron {
  border-radius: 0;
}

.container .jumbo, .jumbotron .page2 {
  border-radius: 0;
  padding: 0 35px;
}

.jumbo h2, .jumbotron h2 {
  color: #FFDD50;
  font-size: 1.7em;
}

.read {
  margin-top: 38px;
}

.jumbo a {
  color: #ffe;
  text-decoration: underline;
}

.jumbo a:hover {
  color: #FFE98C;
} 


.row {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.row-0, .jumbotron {
  /*background: rgb(8, 81, 11);
  background: rgba(8, 81, 11, 0.8);*/
  background-color: #a6b089;
}

.row.row-0 {
  padding-bottom: 25px;
}

.row-1 {
 
}

.row-2 {
  margin-bottom: 0;
}

.row-3 {
  background-color: #FFE98C;
}

.row.row-3-1 {
  margin-bottom: 0;
}

.row.row-3-2 {
  margin-top: 0;
}

.row.row-3-2 h3 {
  border-bottom: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 28px;
}

.row-3 ul {
  padding-left: 20px;
}


.row.row-5 {
  background: #ccc;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.row.row-5-1 {
  margin-top: 0;
}

.row.row-6-1 {
   margin-top: 0;
   margin-bottom: 0;
}

/*credits page
*/

.credits {
  list-style: none;
  padding-left: 0;
}

.credits li {
  padding-bottom: 10px;
}


footer {
  border-top: 5px solid #ccc;
  padding-top: 0px;
  padding-right: 35px;
  color: #555;
  background: #fff;
}

footer table {
  font-size: 12px;
  margin-bottom: 1em;
  width: 100%;
}

footer table td {
  width: 33.33%;
  height: 30px;
  vertical-align: top;
}


footer a {
  color: #333;
}

footer a:hover {
  color: #111;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 5px;
}

.circle {
  margin-left: 3px;
  margin-right: 3px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /*color: #333;*/
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top span {
    color: #333;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 29px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover span {
    color: #ccc;
    top: 5px;
}


/* Extra Things */
h3 i{color: #444;}

/*read for liberia page
*/

h3.page2 {
  max-width: 100%;
}

.page2-section {
  margin: 40px 0;
}

.row.photo-section {
  background: #E8E8E8;
  padding: 20px;
  text-align: center;
}

.photo-section img {
  max-width: 100%;
}

.caption {
  max-width: 600px;
  margin: auto;
}

p.we-care-photo {
  text-align: left;
}

.sidebar {
  background-color: #FFE98C;
  padding: 10px 15px;

}

@media (max-width: 480px) {
    .logo {
    vertical-align: bottom;
    font-size: 40px;
    color: rgb(8, 81, 11);
    padding: 10px 0;
    margin: 10px 0 20px 0;
  }

  .navbar-brand {
    border-bottom: none;
    margin-bottom: 10px;
  }

  .navbar-brand>img {
   width: 300px;
  }

  .navbar-collapse {
    margin-top: 20px;
  }

  .row-0 {
    margin-top: 10px;
  }
}

@media (max-width: 760px) {
  .youtube {
    text-align: center;
  }

  iframe {
    margin: 0 auto;
    width: 95%;
    height: 280px;
  }

  .row {
    padding: 0 5px;
  }
}

@media (min-width: 760px) {
  .read-play-learn p {
    min-height: 95px;
  }

  .row-3 {
    margin-top: 50px;
  }

  ul.pull-right {
    margin-right: 25px;
  }

  .row {
    padding: 0 5px;
  }

  .navbar>.container-fluid .navbar-brand {
    padding-top: 0;
  }
}

@media (max-width: 1100px) {
  .app-store-button {
    width: 100px;
    border-radius: 3px;
  }
}